<app-drag-and-drop>
  <h2 mat-dialog-title class="mt-2 mr-3">Zmiana uprawnienia użytkownika</h2>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Uprawnienia</mat-label>
      <mat-select [formControl]="permissionForm" [compareWith]="compareObject">
        <mat-option
          *ngFor="let permission of permissions | enumToArray"
          [value]="permission.value"
          >{{ permission.viewValue }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-raised-button color="basic" (click)="closeDialog()">
      Anuluj
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="confirmPermission()"
      [disabled]="permissionForm.invalid"
    >
      Zatwierdź
    </button>
  </div>
</app-drag-and-drop>
