<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- TOOLBAR -->
  <app-toolbar (eventMenu)="sidenav.toggle()"></app-toolbar>
  <!-- ------- -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 56">
    <mat-sidenav #sidenav [mode]="mode.value" [style.marginTop.px]="mobileQuery.matches ? -56 : 0"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-list class="mat-list">

        <!----------------------------- STRONA GLOWNA ------------------------------------>
        <div class="buttonSelectMenu btn" routerLink="/pages/home" routerLinkActive="active"
          style="border-top:none; margin-top:20px;">
          <mat-icon class="buttonSelectMenu-iconLeft">home</mat-icon>
          Strona główna
        </div>
        <!----------------------------- PRZYPISANE ZLECENIA ------------------------------------>
        <div class="buttonSelectMenu btn" routerLink="/pages/notifications" routerLinkActive="active">
          <mat-icon class="buttonSelectMenu-iconLeft">assignment_turned_in</mat-icon>
          Moja praca
        </div>
        <!----------------------------- UŻYTKOWNICY ------------------------------------>
        <div class="buttonSelectMenu btn" routerLink="/pages/users" routerLinkActive="active">
          <mat-icon class="buttonSelectMenu-iconLeft">people</mat-icon>
          Użytkownicy
        </div> 
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router-content" [@fadeInAnimation]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>