<div class="p-4">
  <div class="text-center header-tab" *ngIf="detectParamUserId()">{{ header }}</div>
  <div class="d-flex flex-row mt-2">
    <button mat-fab color="accent" class="mr-4" *ngIf="detectParamUserId()" (click)="goBack()">
      <mat-icon> keyboard_backspace </mat-icon>
    </button>
    <mat-form-field class="mb-4">
      <mat-label>Filtrowanie zgłoszeń</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Wpisz tekst" />
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table #table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lp.</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon [ngStyle]="{ color: row.type === 0 ? '#E53A40' : '#575757' }" [matTooltip]="row.type === 0 ? 'Incydent' : 'Zgłoszenie'"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay">{{
            row.type | typeNotificationPipe
          }}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Temat</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <ng-container matColumnDef="assignedUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Osoba przypisana
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.assignedUser?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="declarantUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Osoba zgłaszająca</th>
        <td mat-cell *matCellDef="let row">{{ row?.declarantUser?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row" class="cont-buttons">
          <button
            mat-mini-fab
            color="basic"
            matTooltip="Informacje o zgłoszeniu"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            (click)="openNotificationMoreInfo(row)"
          >
            <mat-icon>assignment_late</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="accent"
            (click)="openChangeNotificationStatus(row)"
            matTooltip="Zmiana statusu zgłoszenia"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            *ngIf="
              roleGuardService.checkPermission(userPermission.Normal) &&
              row.status !== status.Rozwiazane &&
              row.status !== status.Oczekuje_na_wsparcie
            "
          >
            <mat-icon>assignment_turned_in</mat-icon>
          </button>
          <button
            mat-mini-fab
            [color]="row.status === status.Oczekuje_na_wsparcie ? 'primary' : 'basic'"
            [matTooltip]="
              row.status === status.Oczekuje_na_wsparcie
                ? 'Przypisz zgłoszenie do osoby'
                : 'Zmień odpowiedzialnego za zgłoszenie'
            "
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            (click)="openAssignUserDialog(row)"
            *ngIf="roleGuardService.checkPermission(userPermission.ServiceDesk) && row.status !== status.Rozwiazane"
          >
            <mat-icon>how_to_reg</mat-icon>
          </button>
          <!-- <button
            mat-mini-fab
            color="primary"
            matTooltip="Ukończ zgłoszenie"
            *ngIf="row.status === status.InProgress"
            [matTooltipShowDelay]="matTooltipShowDelay"
            [matTooltipHideDelay]="matTooltipHideDelay"
            (click)="openConfirmCompletingTheTask(row)"
          >
            <mat-icon>assignment_turned_in</mat-icon>
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="notificationStatusService.getClassStatusNotification(row.status)"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
