@import 'variables';


table {
  width: 100%;
  max-height: 593px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td.mat-column-id,
th.mat-column-id {
  width: 10%;
}

td.mat-column-type,
th.mat-column-type {
  width: 8%;
}

td.mat-column-title,
th.mat-column-title {
  width: auto;
}

td.mat-column-buttons,
th.mat-column-buttons {
  width: 15%;
}

td,
th {
  width: 18%;
}

.cont-buttons {
  button {
    margin-right: 5px;
  }
}

.header-tab {
  color: rgba(0,0,0,.54);
  font-size: 14px;
}
