<div class="container">
  <div class="d-flex flex-row cont-row">
    <div class="cont-button">
      <button
        mat-fab
        color="basic"
        (click)="goBack()"
        matTooltip="Powrót do poprzedniej lokalizacji"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon> keyboard_backspace </mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        *ngIf="inEditMode"
        (click)="openUpdateConfirmDialog(notification)"
        matTooltip="Zatwierdzenie aktualizacji zgłoszenia"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon> done </mat-icon>
      </button>
      <button
        mat-fab
        color="accent"
        (click)="openAssignUserDialog(notification)" 
        matTooltip="Przypisywanie osoby do zgłoszenia"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
        >
        <mat-icon> how_to_reg </mat-icon>
      </button>
      <button
      mat-fab
      color="accent"
      (click)="openChangeNotificationStatus(notification)"
      *ngIf="notification.status !== status.Oczekuje_na_wsparcie"
        matTooltip="Zmiana statusu zgłoszenia"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon> assignment_turned_in </mat-icon>
      </button>
      <button
        mat-fab
        color="warn"
        (click)="openDeleteDialog(notification.id)"
        matTooltip="Usunięcie zgłoszenia"
        *ngIf="roleGuardService.checkPermission(userPermission.ServiceDesk)"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon> delete </mat-icon>
      </button>
    </div>
    <div class="row">
      <div class="col-5 relative">
        <button
          mat-raised-button
          class="status-button"
          (click)="
            notification.status === status.Oczekuje_na_wsparcie
              ? openAssignUserDialog(notification)
              : openChangeNotificationStatus(notification)
          "
          [ngStyle]="{'margin-bottom': notification.status === status.Oczekuje_na_wsparcie ? '25px': '0'}"
          [ngClass]="notificationStatusService.getClassStatusNotification(notification.status)"
        >
          {{ notification.status | statusNotificationNumberToStr }}
        </button>
        <mat-form-field class="w-100 p-3" *ngIf="notification.status !== status.Oczekuje_na_wsparcie">
          <mat-label>Przypisana osoba do zgłoszenia</mat-label>
          <input matInput placeholder="Wprowadź osobę" [(ngModel)]="notification?.assignedUser.name" readonly />
        </mat-form-field>
        <mat-divider class="p-2"></mat-divider>
        <app-notification-comments [notification]="notification"></app-notification-comments>
      </div>
      <div class="col-7 not-more-info">
        <app-notification-more-info
          [editable]="editable"
          [showToolbar]="showToolbar"
          [notification]="notification"
          (notificationChanges)="notificationChanges($event)"
        ></app-notification-more-info>
      </div>
    </div>
  </div>
</div>
