// Tworzenie buttona
@mixin buttonStyle($max-width, $min-width, $letterSpacing, $backgroundHover,$background) {
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
  background-color: $background;

  &:hover {
    letter-spacing: $letterSpacing;
    background-color: $backgroundHover;
    transition: all 300ms ease-in-out;
  }
}
