<mat-tab-group>
  <mat-tab label="Przydzielone dla mnie">
    <ng-template matTabContent>
      <app-notifications-list-by-type [typeNotification]="typeNotification.Assigned"></app-notifications-list-by-type>
    </ng-template>
  </mat-tab>
  <mat-tab label="Zgłoszone przezemnie">
    <ng-template matTabContent>
      <app-notifications-list-by-type [typeNotification]="typeNotification.Published"></app-notifications-list-by-type>
    </ng-template>
  </mat-tab>
  <mat-tab label="Wszystkie" *ngIf="roleGuardService.checkPermission(userPermission.ServiceDesk)">
    <ng-template matTabContent>
      <app-notifications-list-by-type [typeNotification]="typeNotification.All"></app-notifications-list-by-type>
    </ng-template>
  </mat-tab>
</mat-tab-group>
