<mat-nav-list>
    <a mat-list-item (click)="openUserLink()" >
      <mat-icon matListIcon>people</mat-icon>
      <span mat-line>Profil użytkownika</span>
      <span mat-line>Podgląd profilu użytkownika</span>
    </a>       
    <a mat-list-item (click)="openNavigationLink('notifications/assigned')" >
      <mat-icon matListIcon>how_to_reg</mat-icon>
      <span mat-line>Przypisane do mnie</span>
      <span mat-line>Przypisane do mnie zgłoszenia</span>
    </a>   
    <a mat-list-item (click)="openNavigationLink('notifications/published')" >
      <mat-icon matListIcon>library_add_check</mat-icon>
      <span mat-line>Moje zgłoszenia</span>
      <span mat-line>Zgłoszenia, które zostały przeze mnie utworzone</span>
    </a>    
  </mat-nav-list>