<div [formGroup]="notificationForm" class="container-content">
    <div class="d-flex flex-row">
      <mat-form-field class="w-50 p-1">
        <mat-label>Projekt</mat-label>
        <mat-select formControlName="project" required>
          <mat-option *ngFor="let project of projects" [value]="project.value">
            {{ project.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-50 p-1">
        <mat-label>Typ</mat-label>
        <mat-select formControlName="type" required>
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="w-100">
      <mat-label>Temat</mat-label>
      <input formControlName="title" matInput required />
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Zgłaszający</mat-label>
      <input formControlName="user" matInput required readonly>
    </mat-form-field>
    <angular-editor id="angularEditor" formControlName="description" [config]="editorConfig"></angular-editor>
  </div>