@import "mixins";
@import "variables";

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.control-width {
  width: 300px;
}

button {
  width: 100%;
  margin-bottom: 5px;
}

// tlo
.image-bg {
  background-image: url('../../../../assets/login.jpg');
  opacity: 0.5;
  // /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);

  /* Full height */
  height: 100vh;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// znak wodny
img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 120px;
  max-width: 500px;
}