<div id="card-all-messages">
  <!-- <mat-card-subtitle>Najważniejsze informacje z życia aplikacji</mat-card-subtitle> -->
  <div class="h-100" id="scroller" ngxInfiniteScroller strategy="scrollingToTop" (onScrollUp)="onScrollUp()">
    <div *ngFor="let message of messages | orderByDate: 'saveTime'">
      <mat-card class="m-2 card-message">
        <div class="cont-action">
          <div class="cont-date">
            {{ message.saveTime | date: 'dd/MM/yyyy HH:mm:ss' }}
            <mat-label class="right"
              >Login: <b>{{ message.userName }}</b></mat-label
            >
          </div>
          <div class="cont-buttons" *ngIf="roleGuardService.checkPermission(permission.Admin)">
            <button
              mat-icon-button
              color="warn"
              matTooltip="Usuwanie komentarza"
              [matTooltipShowDelay]="showDelayTooltip"
              [matTooltipHideDelay]="hideDelayTooltip"
              aria-label="Delete messages"
              (click)="deleteMessage(message)"
            >
              <mat-icon>delete</mat-icon>
              <!-- <fa-icon [icon]="faTrash" class="fa-lg"></fa-icon> -->
            </button>
          </div>
        </div>
        <div class="cont-description">
          {{ message.description }}
        </div>
      </mat-card>
    </div>
  </div>
  <div class="cont-button-send-message">
    <mat-form-field class="example-full-width">
      <mat-label>Dodaj nową wiadomość</mat-label>
      <textarea matInput [formControl]="messageForm" placeholder="Wprowadź tekst..."></textarea>
    </mat-form-field>
    <button
      mat-fab
      color="primary"
      matTooltip="Zatwierdzanie komentarza"
      [matTooltipShowDelay]="showDelayTooltip"
      [matTooltipHideDelay]="hideDelayTooltip"
      aria-label="Confirm messages"
      (click)="createNewMessage()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
