.cont-table {
    max-height: 650px;
    overflow: auto;
    width: 100%;
}

table {
    width: 100%;
    max-height: 593px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}

mat-paginator {
    position: sticky;
    bottom: 0;
}

.cont-buttons {
    button {
        margin-right: 5px;
    }
}

.deletedUser {
    background: rgba(255, 60, 0, 0.116);
}