<app-drag-and-drop>
  <h2 mat-dialog-title class="header">{{ data.header }}</h2>
  <div mat-dialog-content class="m-2 content">
    {{ data.content }}
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-raised-button color="basic" (click)="closeDialog()">
      Anuluj
    </button>
    <button mat-raised-button color="accent" cdkFocusInitial (click)="confirm()">
      Zatwierdź
    </button>
  </div>
</app-drag-and-drop>
