<app-drag-and-drop>
  <h2 mat-dialog-title class="header">Zatwierdź</h2>
  <div mat-dialog-content class="m-2 content">
    <p>Przypisywanie osoby do zgłoszenia</p>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Wybierz użytkownika"
        aria-label="Użytkownik"
        matInput
        [formControl]="userControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let user of filteredUser | async" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="float: right;">
    <button mat-raised-button color="basic" mat-dialog-close>Anuluj</button>
    <button mat-raised-button color="accent" [disabled]="userControl.invalid" (click)="confirmChanges()">
      Zatwierdź
    </button>
  </div>
</app-drag-and-drop>
