<div class="container">
  <mat-card class="text-center"><mat-card-subtitle>Informacje o użytkowniku</mat-card-subtitle></mat-card>
  <div class="d-flex flex-row cont-row">
    <div class="cont-button">
      <button
        mat-fab
        color="basic"
        (click)="goBack()"
        matTooltip="Powrót do poprzedniej lokalizacji"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon> keyboard_backspace </mat-icon>
      </button>
      <button
        mat-fab
        *ngIf="isEditMode"
        color="primary"
        (click)="openUpdateConfirmDialog()"
        matTooltip="Zatwierdzenie aktualizacji"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon> done </mat-icon>
      </button>
      <button
        mat-fab
        *ngIf="owner !== true && roleGuardService.checkPermission(userPermission.Admin)"
        color="accent"
        matTooltip="Zmiana uprawnień"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
        (click)="changeUserPermission(user)"
      >
        <mat-icon>pan_tool</mat-icon>
      </button>
      <button
        mat-fab
        color="accent"
        matTooltip="Przydzielone zgłoszenia"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
        (click)="openNotificationLink('assigned')"
      >
        <mat-icon>assignment_ind</mat-icon>
      </button>
      <button
        mat-fab
        color="basic"
        matTooltip="Utworzone zgłoszenia"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
        (click)="openNotificationLink('published')"
      >
        <mat-icon>assignment_turned_in</mat-icon>
      </button>
      <button
        mat-fab
        *ngIf="user?.deleted === 1 && owner !== true && roleGuardService.checkPermission(userPermission.Admin)"
        color="basic"
        matTooltip="Przywróć użytkownika"
        (click)="userRestore(user)"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon>restore</mat-icon>
      </button>
      <button
        mat-fab
        *ngIf="user?.deleted === 0 && owner !== true && roleGuardService.checkPermission(userPermission.Admin)"
        color="warn"
        matTooltip="Usuń użytkownika"
        (click)="userDelete(user)"
        [matTooltipShowDelay]="matTooltipShowDelay"
        [matTooltipHideDelay]="matTooltipHideDelay"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="row w-100">
      <div class="col-5 relative">
        <div [formGroup]="userForm" class="example-form">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Imię i nazwisko</mat-label>
            <input matInput formControlName="name" placeholder="Imię i nazwisko" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Uprawnienia</mat-label>
            <input
              matInput
              formControlName="accessLevel"
              placeholder="Uprawnienia użytkownika"
              readonly
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data utworzenia</mat-label>
            <input
              matInput
              formControlName="dateCreated"
              placeholder="Data utworzenia"
              readonly
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dostępność</mat-label>
            <input
              matInput
              formControlName="deleted"
              placeholder="Dostępność użytkownika"
              readonly
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-7 more-info">
        <mat-list>
          <mat-list-item id="not-assigned">
            Przypisane: <mat-label>{{ statAssigned }}</mat-label>
          </mat-list-item>
          <mat-list-item id="not-inProgress">
            W trakcie: <mat-label>{{ statInProgress }}</mat-label>
          </mat-list-item>
          <mat-list-item id="not-waiting-for-external-support">
            Oczekuje na wsparcie zespołu zewnetrznego: <mat-label>{{ statWaitingForExternalSupport }}</mat-label>
          </mat-list-item>
          <mat-list-item id="not-waiting-for-customer">
            Oczekuje na klienta: <mat-label>{{ statWaitingForCustomer }}</mat-label>
          </mat-list-item>
          <mat-list-item id="not-completed">
            Rozwiazane: <mat-label>{{ statCompleted }}</mat-label>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
