@import 'variables';

// //////snackBar okienko informacyjne//////
.snackBar-success {
  background: $colorBackgroundSuccess !important;
  color: $colorSuccess !important;
  border-color: $colorBorderSuccess !important;
}

.snackBar-error {
  color: $colorBackgroundError !important;
  background: $colorError !important;
  border-color: $colorBorderError !important;
}

/** STATUS ZGŁOSZENIA */
// .status-waiting-for-support {
//   background: $colorStatusWaitingForSupport;
// }

.status-waiting-for-customer {
  background: $colorStatusWaitingForCustomer;
}

.status-waiting-for-external-support {
  background: $colorStatusWaitingForExternalSupport;
}
.status-completed {
  background: $colorStatusCompleted;
}
.status-in-progress {
  background: $colorStatusInProgress;
}
.status-assigned {
  background: $colorStatusAssigned;
}
