<app-drag-and-drop>
  <h1 mat-dialog-title class="header">{{ data.header }}</h1>
  <div mat-dialog-content>
    <app-notification-more-info
      [editable]="editable"
      [showToolbar]="showToolbar"
      (notificationChanges)="notificationChanges($event)"
    ></app-notification-more-info>
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-raised-button color="basic" (click)="closeDialog()">
      Anuluj
    </button>
    <button mat-raised-button color="accent" (click)="confirmNotification()">
      Zatwierdź
    </button>
  </div>
</app-drag-and-drop>
